<div class="login-container">
  <div class="panel-heading">
    <h3 class="sign-up-title">Create New Post</h3>
  </div>
  <label class="label"> &nbsp Title</label>

  <div class="input-group">
    <input
      type="text"
      class="form-control"
      placeholder="Blog title"
      aria-describedby="basic-addon2"
    />
  </div>

  <label class="label"> &nbsp Content</label>
  <div class="input-group">
    <textarea class="form-control blog-input" rows="4" cols="50" /></textarea>
  </div>

  <button id="Button" class="input-group">Create</button>
</div>