<button id="Button" class="input-group dashboard-but">
  <p class="dashboard-title">&nbsp&nbsp&nbsp&nbsp&nbsptitle</p>
  <p class="dashboard-date">Date</p>
</button>

  <button id="Button" class="dashboard-create">
    Create a blog
  </button>