{{#if blogs}}

  {{#each blogs as |blog|}}
    <a href="/api/comment/{{blog.id}}">
      <div class="front-square">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">{{blog.title}}</h3>
            <h4 class="date-text">{{blog.date}}</h4>
          </div>
          <div class="panel-body">
            <p class="body-text">{{blog.body}}
            </p>
          </div>
        </div>
      </div>
    </a>
  {{/each}}

{{/if}}