<div class="front-square">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Panel title</h3>
      <h4 class="date-text">Date</h4>
    </div>
    <div class="panel-body">
      <p class="body-text">Panel
      </p>
    </div>
  </div>
</div>

{{#if blog}}

  {{#each blog}}
    <div class="front-square">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Panel title</h3>
          <h4 class="date-text">Date</h4>
        </div>
        <div class="panel-body">
          <p class="body-text">Panel
          </p>
        </div>
      </div>
    </div>
  {{/each}}

{{/if}}