{{! updating blog  }}

<div class="login-container">
  <div class="panel-heading">
    <h3 class="sign-up-title">Edit Post</h3>
  </div>
  <label class="label"> &nbsp Title</label>

  <div class="input-group">
    <input
      type="text"
      id="blog-title"
      class="form-control"
      placeholder="Blog title"
      aria-describedby="basic-addon2"
      value="{{theBlog1.title}}"
    />
  </div>

  <label class="label"> &nbsp Content</label>
  <div class="input-group">
    <textarea
      id="textarea"
      class="form-control blog-input"
      rows="4"
      cols="50"
    >{{theBlog1.body}}</textarea>
  </div>

  <button id="Button" class="input-group create-but">Update Post</button>
  <button id="Button" class="input-group del-but">Delete</button>
</div>

<input type="hidden" id="blog-id" name="blog-id" value="{{theBlog1.id}}" />

<script src="/js/updateblog.js"></script>